.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  /* animation-name: appear;
  animation-duration: 300ms; */
  /* animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards; */
  /* animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards; */
  animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;;
  font-family: 'Amatic SC', cursive;
  font-size: xx-large;
  /* color: ; */
}

/* .four {
  z-index:0;
  transform:scale(1);
  .modal-background {
    background:rgba(0,0,0,.7);
    .modal {
      animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  } */
  /* + .content {
    z-index:1;
    animation:blowUpContent .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  } */
  /* &.out {
    .modal-background {
      .modal {
        animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    + .content {
      animation: blowUpContentTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }
} */

.modal_dialog {
  /* width: 30%; */
  max-width: 1050px;
  /* width: calc(100vh - 400px); */
  background: linear-gradient(177.38deg, #FBFFD2 -79.61%, #F8003B 97.81%);
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: scaleBack .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  
  /* -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s; */
  /* animation:blowUpContent .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards; */
}

.modal_header,
.modal_footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 30rem;
}

.modal_header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
  height: 120px;
}

.modal_footer {
  /* border-top: 1px solid #dbdbdb; */
  justify-content: space-around;

}

.modal_close {
  cursor: url('../../../public/glove/pointer.png'), pointer;
  padding: 1rem;
  margin: -5rem -1rem -1rem auto;
  /* animation:blowUpContent .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards; */
  /* animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards; */
  /* animation: blowUpContentTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards; */
}

.modal_body {
  overflow: auto;
}

.modal_content {
  padding: 1rem;
}

.modal_gotovo{
  margin: 0 auto;
  padding: 1rem;
  cursor: url('../../../public/glove/pointer.png'), pointer;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}

@keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes blowUpContent {
  0% {
    transform:scale(1);
    opacity:1;
  }
  99.9% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(0);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}

@keyframes scaleDown {
  0% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
  100% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
}

@keyframes scaleBack {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(.85);
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}
