#navbarNav {
  cursor: url('../../../public/glove/pointer.png'), pointer;
}
input {
  cursor: url('../../../public/glove/pointer.png'), pointer;
}
span{
  cursor: url('../../../public/glove/pointer.png'), pointer;
}
.backAuth {
  
 width: 100%;
 height: 100vh;
  background: url('../../../public/authPics/back.gif') no-repeat;
  background-size: cover;

}

.back2Auth {
  position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../../public/authPics/back2.png') no-repeat;
    background-size: cover;
    /* padding: 150px 0px 0px 100px ; */
  }

  .start {
  font-family: 'Amatic SC', cursive;
  background: linear-gradient(354.28deg, #8A939A 5.07%, #FFFFFF 86.31%);
  text-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 100px;
  margin-bottom: -15px;

  }
  .start2{
    font-family: 'Amatic SC', cursive;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 201.32%);
    text-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 25px;
    margin-bottom: 60px;
  }
.signup{
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  
  background: linear-gradient(354.28deg, #8A939A 5.07%, #FFFFFF 86.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
  

}
.navlink{
  text-decoration: none;
}

li {
  list-style-type: none;
}
.primaryBtn{
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  
  background: linear-gradient(354.28deg, #8A939A 5.07%, #FFFFFF 86.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);

}
.primary1{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.primary2{
  display: -webkit-box;
  justify-content: center;
  align-items: center;
}
.signOut{
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  
  background: linear-gradient(354.28deg, #8A939A 5.07%, #FFFFFF 86.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
}
.arrow{
  height: 70px;
  width: 60px;
  margin-top: 0px;
}

.img1{
  display: flex;
  align-items: end;
  padding: 20px 0px 0px 0px;
}

.div3{
  display: flex;
  justify-content: space-around;
  height: 100vh;

}
.div2{
  width: 100%;
  padding: 100px
}
.div1 {
  position: absolute;
  bottom: 0;
  right: 80px;
  z-index:1;
}
.bomj{
width: 550px;
height: 550px;
z-index: 1;
position: relative;
}

