.bag{
  width: 345px;
  height: 245px;
}

.randomTrash{
  width: 145px;
  height: 145px;
}

.trashes{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
}

/* MARIA ZOBNINA */
.gameBoard {
  /* height: 40%; */
  /* max-height: 650px; */
  height: 650px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  bottom:0
}
