.bag{
  margin-top: 35%;
  width: 270x;
  /* height:300px; */
}

.randomTrash{
  width: 145px;
  height: 145px;
}

.trashes{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

/* MARIA ZOBNINA */
.gameBoard {
  /* height: 40%; */
  /* max-height: 650px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 450px;
  bottom:0
}

