/* .bins{
  width: 1500px;
  height: 345px;
}

.GameBins{
  position: absolute;
  width: 70%;
}

.gameBinsDno{
  max-height: 118px;
  height: 118px;
  border-radius: 700px/60px;
  background: #EC8F8F;
  opacity: 0.3;
  bottom: 0;
}

.gameBinsFromDB{
  position: relative;
  bottom: -70px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
} */
