<div class="fridge">
  HELLO

    <!-- Модальное окно для изменений продукта -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change product title.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input id="value-of-new-product-name" class="input-of-new-product-name form-control me-2" type="text" placeholder="Type new title...">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="change-product-name-button" class="change-product-name-button btn btn-outline-success" data-bs-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
    </div>

<script src="/js/deleteProduct.js"></script>
<script src="/js/editProduct.js"></script>
<script src="/js/likeProduct.js"></script>
