<div class="row g-3">
  <div class="col-6 align-self-center mb-6">
    <form action="/auth/reg" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Type your name"/>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Type your e-mail"/>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Придумайте пароль"/>
      </div>
      <button type="submit" class="btn btn-primary btn-lg col-12 mt-4">Sign up</button>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>
