.navbar {
  display: flex;
  justify-content: space-between;
}

.progressBar {
  width: 745px;
  height: 75px;
  background: url('../../../public/gameNavPic/progressbar.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: inline-flex;
  justify-content: flex-end;
}
.smallIcon{
  width: 45px;
  height: 45px;
}

.progressBar img {
  width: 45px;
  height: 45px;


}
