.main {
  font-family: 'Amatic SC';
  font-weight: 400;
  color: white;
  font-size: 1000;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.score {
  font-size: 30px;
  margin: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.header {
  display: flex;
  justify-content: flex-start;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.progressBar {
  width: 1300px;
  height: 80px;
  background: url('../../../public/gameNavPic/progressbar.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 20px;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.icons {
  display: inline-flex;
  justify-content: space-between;
}

.info {
  width: 67px;
}

input {
  width: 67px;
  height: 67px;
  cursor: url('../../../public/glove/pointer.png'), pointer;
}
.progressBar img {
  width: 50px;
  height: 70px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 8px;
}

/* .progressBar:first-child {
  justify-content: flex-start;
}
.progressBar:first-child + .progressBarTrashCan2{
  margin-left: 100px;;
} */
