.lvl-1 {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  background: url('../../../public/backBround/level-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y: hidden;
}

.lvl-2 {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  background: url('../../../public/backBround/level-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y: hidden;
}

.lvl-3 {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  background: url('../../../public/backBround/level-3.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y: hidden;
}
