.ratSpeaksContainer{
  height: 150px;
  width: 300px;
  position: absolute;
  top: 59vh;
  left: 175vh;
  z-index: 10000;
}
.ratSpeaks::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 12px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
