.fly-obj {
  animation: fly 30s ease infinite;
  position: absolute;
  padding: 15px;
  pointer-events: all;
  cursor: pointer;
}
.rat {
  width: 55px;
  height: 55px;
}

@keyframes fly {
  0% {
    -webkit-transform: translate(130px, 45px);
    transform: translate(130px, 45px);
  }
  10% {
    -webkit-transform: translate(1040px, 227px);
    transform: translate(1040px, 227px);
  }
  20% {
    -webkit-transform: translate(0, 91px);
    transform: translate(0, 91px);
  }
  30% {
    -webkit-transform: translate(520px, 409px);
    transform: translate(520px, 409px);
  }
  40% {
    -webkit-transform: translate(390px, 0);
    transform: translate(390px, 0);
  }
  50% {
    -webkit-transform: translate(1040px, 227px);
    transform: translate(1040px, 227px);
  }
  60% {
    -webkit-transform: translate(390px, 318px);
    transform: translate(390px, 318px);
  }
  70% {
    -webkit-transform: translate(520px, 273px);
    transform: translate(520px, 273px);
  }
  80% {
    -webkit-transform: translate(0, 318px);
    transform: translate(0, 318px);
  }
  90% {
    -webkit-transform: translate(1170px, 227px);
    transform: translate(1170px, 227px);
  }
  100% {
    -webkit-transform: translate(130px, 45px);
    transform: translate(130px, 45px);
  }
}
