.smth{
  margin: 0;
  padding: 0;
}

.loaderPage{
  margin-top: 0;
  width: 100%;
  height: 100vh;
  background: url('../../../public/backBround/backgorundLoader.png') no-repeat;
  background-size: cover;
}

.loading{
   display:flex;
   justify-content: center;
   align-items: center;
   padding-top: 18%;
  }
  
  .loader{
    border: 10px solid #f3f3f3;
    border-top: 10px solid #db3434;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: spin 3s linear infinite;
    position: relative;
  }
  .img{
    position: absolute;
  animation: spin 1s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@keyframes color {
  0% {
    border: 10px solid #f3f3f3;
  }
  /* 75% {
    border-left: 10px solid #db3434;
    border-right: 10px solid #db3434;
  } */
  100% {
    border: 10px solid #db3434;;
  }
} 
